<a href="https://colab.research.google.com/github/castrostephano/CreditCardDetection/blob/main/CreditCardFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [9]:
credit_card_data = pd.read_csv('/creditcard.csv')

In [10]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
credit_card_data.tail()

In [ ]:
credit_card_data.info()

In [15]:
#distribution of legit/fraud transactions - (0=normal trans 1=fraud trans)
#more than 99% is non-fraud, so ml can't recognize fraud because there's a lot less data
#so we have to handle this unbalanced datasets
credit_card_data['Class'].value_counts()

0.0    41574
1.0      108
Name: Class, dtype: int64

In [ ]:
credit_card_data.isnull().sum()

In [ ]:
#Distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

In [17]:
#we have to separate the data into fraud and legit to feed into the machine

legit = credit_card_data[credit_card_data.Class == (0)]
fraud = credit_card_data[credit_card_data.Class == (1)]

In [18]:
#normal trans, 31 columns/ fraud trans, 31 columns
print(legit.shape)
print(fraud.shape)

(41574, 31)
(108, 31)

In [19]:
#Amount is the amount that was used in the the trans
# average is $88 
legit.Amount.describe()

count    41574.000000
mean        89.092554
std        237.129967
min          0.000000
25%          7.550000
50%         24.000000
75%         80.000000
max       7879.420000
Name: Amount, dtype: float64

In [20]:
#mean is $93, more than legit trans
fraud.Amount.describe()

count     108.000000
mean       93.512593
std       250.863273
min         0.000000
25%         1.000000
50%         2.320000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [22]:
#compare the values for both of the classes
#the differences are important. they train the machine what's fraud and what's legit
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    26220.447082 -0.203702  0.021029  ...  0.005968  0.004583  89.092554
1.0    21414.990741 -7.454643  5.595067  ...  0.791559  0.112874  93.512593

[2 rows x 30 columns]

In [29]:
#we have to undersample the larger dataset
#build a sample dataset containing similar distribution of legit trans (because that's the much larger dataset)
#because there are 492 fraud trans, i'm going to take 492 random legit trans and join them. makes the distribution even

legit_sample = legit.sample(n=108)

In [30]:
#now i will concatenate two df's
#axis is 0 = concat row wise, 1 would be column (which we don't want)

concat_dataset = pd.concat([legit_sample,fraud], axis=0)

In [31]:
concat_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
16        12  1.103215 -0.040296  1.267332  ...  0.092809  0.037051   12.99    0.0
27931  34773  1.130214  0.261687  0.347462  ...  0.003284  0.052867   29.56    0.0
28043  34823 -0.685598 -0.773272  0.957227  ...  0.371485  0.122312   30.00    0.0
30869  36111 -0.764152  0.500283  1.191497  ... -0.050639  0.081701   64.80    0.0
30738  36062  1.155097  0.033699 -0.090881  ...  0.028774 -0.002077   33.56    0.0

[5 rows x 31 columns]

In [39]:
concat_dataset['Class'].value_counts()

1.0    108
0.0    108
Name: Class, dtype: int64

In [40]:
#this step is important bc it lets us know if its good or bad, bad would be very dif. this is looking good to go
concat_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    25294.759259 -0.012506  0.145995  ...  0.005333 -0.018222  78.346481
1.0    21414.990741 -7.454643  5.595067  ...  0.791559  0.112874  93.512593

[2 rows x 30 columns]

In [42]:
#split the data into targets (0 or 1) and features
#axis is 1 bc we want to drop a column, not a row

X= concat_dataset.drop(columns = 'Class', axis = 1)
Y = concat_dataset['Class']

In [44]:
print(X)

        Time        V1        V2  ...       V27       V28  Amount
16        12  1.103215 -0.040296  ...  0.092809  0.037051   12.99
27931  34773  1.130214  0.261687  ...  0.003284  0.052867   29.56
28043  34823 -0.685598 -0.773272  ...  0.371485  0.122312   30.00
30869  36111 -0.764152  0.500283  ... -0.050639  0.081701   64.80
30738  36062  1.155097  0.033699  ...  0.028774 -0.002077   33.56
...      ...       ...       ...  ...       ...       ...     ...
39183  39729 -0.964567 -1.643541  ... -0.308555 -0.164500  776.83
40085  40086  1.083693  1.179501  ...  0.096701  0.114972    1.00
40525  40276  1.159373  2.844795  ...  0.009979  0.160769    1.00
41395  40662 -4.446847 -0.014793  ...  0.492560  0.971834    1.00
41569  40742 -2.377533  0.520539  ...  0.500326  0.551760    1.00

[216 rows x 30 columns]

In [45]:
print(Y)

16       0.0
27931    0.0
28043    0.0
30869    0.0
30738    0.0
        ...
39183    1.0
40085    1.0
40525    1.0
41395    1.0
41569    1.0
Name: Class, Length: 216, dtype: float64

In [46]:
#split into train and test data
# 20% is going to test data, meaning 80% will be train
#strat Y = evenly dist 2 classes in both x/y train/test
#random state is just reproducing 2 times

X_train, X_test, Y_train, Y_test = train_test_split(X , Y, test_size = 0.2, stratify = Y, random_state=2)

In [48]:
print(X.shape, X_train.shape, X_test.shape)

(216, 30) (172, 30) (44, 30)

In [49]:
#model training. Using logistic regression model (LR) for binary classification models (0,1...like this one)

model = LogisticRegression()

In [50]:
#training (or fitting) our LR model w training data

model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [51]:
#evaluate our model based on accuracy score
#predicting the labels for all the training data 
# second line will compare trained data fed through the model vs original labels stored in Y_train
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [52]:
#very good accuracy score, out of 100 predictions, our model can predict 98 of them. test data is next
#why did we print training data? because if the training and test data accuracy scores are very different, then your model isn't good. over/underfit
print(training_data_accuracy)

0.9883720930232558

In [53]:
#at this point we've only fed the model  training data, next we do the same thing as above, but with test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [54]:
#slightly lower than training data, but still really good
print(test_data_accuracy)

0.9772727272727273